{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.publisher_create'|trans }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% include 'default/_form.html.twig' with {
                page_title: 'title.publisher_create'|trans,
                form: form,
                submit_label: 'action.save'|trans,
                back_to_list_path: 'publisher_index',
            } %}
        </div>
    </div>
    {%  include 'footer.html.twig' %}
{% endblock %}