{% extends 'base.html.twig' %}

{% block title %}
    {{ 'nick.creator_create'|trans }}
{% endblock %}

{% block body %}
    <body>
    <div class="container">
        <div class="row">
            {% include 'default/_form.html.twig' with {
                page_title: 'nick.creator_create'|trans,
                form: form,
                submit_label: 'action.save'|trans,
                back_to_list_path: 'creator_index',
            } %}
        </div>
    </div>
    </body>
{% endblock %}